{% extends "base_generic.html" %}

{% block title %}<title>Launch Detail: {{ rocketlaunch.name }}</title>{% endblock %}

{% block head_css_section %}
    {% load static %}
   <link rel="stylesheet" href="{% static 'css/detail_styles.css' %}">
{% endblock head_css_section %}

{% block content %}
  <h1 class= "heading">Launch Details: {{ rocketlaunch.name }}</h1>
  <hr>
	<div class="content">
		<ul>
		<li><p><strong>Flight Number: </strong>{{ rocketlaunch.flight_number }}</p></li>
		
		<li><p><strong>Date & Time (UTC): </strong>{{ rocketlaunch.launch_date_time }}</p></li>

		<li><strong>Location:</strong>{{ rocketlaunch.site_name }}</li>
		
		<li><p><strong>Mission Success: </strong><span class="{% if rocketlaunch.launch_success %}text-success{% else %}text-danger{% endif %}" style="text-transform: uppercase;">{{ rocketlaunch.launch_success }}</span></p></li>

		<li><p><strong>Mission Patch: </strong>		
		{% if rocketlaunch.link %}
			<img src="{{ rocketlaunch.link }}">
		{% else %}
			<span class="text-danger">None</span>
		{% endif %}
		</p></li>

		<li><p><strong>Wikipedia: </strong>
		{% if rocketlaunch.wikipedia_link %}
			<a href="{{ rocketlaunch.wikipedia_link }}" target="_blank">{{ rocketlaunch.wikipedia_link }}</a></p>
		{% else %}
			<span class="text-danger">None</span>
		{% endif %}
		</p></li>

		<li><div><strong>Video: </strong>		
		{% if rocketlaunch.youtube_id %}
			<p></p>
			<iframe width="640" height="360" src="https://www.youtube.com/embed/{{ rocketlaunch.youtube_id }}"></iframe>
		{% else %}
			<span class="text-danger">None</span>
		{% endif %}
		</div></li>		

		</ul>
  	</div>
{% endblock %}