{% extends 'base_generic.html' %}

{% block title %}<title>SpaceX Launches: Home</title>{% endblock %}

{% block head_css_section %}
    {% load static %}
   <link rel="stylesheet" href="{% static 'css/index_styles.css' %}">
{% endblock head_css_section %}

{% block content %}
  <h1 class="heading">Home</h1>    
  <p class="intro">Welcome to the SpaceX Rocket Launches website!</p>
  <hr>
  <div class="content">
  <p>The API is available at <a href="https://api.spacexdata.com/v3/launches" target="_blank">https://api.spacexdata.com/v3/launches</a>.</p>
  <p>The database has the following records currently loaded:</p>
  <ul>
    <li><strong>Launches:</strong> {{ rockets_count }} </li>
  </ul>
  </div>
{% endblock %}